Source: libvmod-cachehits
Section: web
Priority: optional
Maintainer: Michael Nutt <michael@nuttnet.net>
Build-Depends: debhelper (>=9), dh-autoreconf, pkg-config, autogen, automake, autotools-dev, autoconf, libtool, varnish-dev (>= 7.0.0), varnish-dev (<< 7.6.0)
Standards-Version: 3.9.6
Homepage: https://github.com/mnutt/libvmod-cachehits

Package: libvmod-cachehits
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, varnish (>= 7.0.0), varnish (<< 7.6.0)
Replaces: libvmod-cachehits (<< 190)
Description: CacheHits counter for Varnish 7.0.x
 Ability to notify backends of prior cache hit rate when doing background fetches
