Source: libvmod-cachehits
Section: web
Priority: optional
Maintainer: Michael Nutt <michael@nuttnet.net>
Build-Depends: debhelper (>=9), dh-autoreconf, pkg-config, autogen, automake, autotools-dev, autoconf, libtool, varnish-dev
Standards-Version: 3.9.6
Homepage: https://github.com/mnutt/libvmod-cachehits

Package: libvmod-cachehits
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, varnish
Replaces: libvmod-cachehits (<< 999)
Description: CacheHits vmod for Varnish
 Ability to notify backends of prior cache hit rate when doing background fetches
